<a href="https://colab.research.google.com/github/Pragna235/PerfectB_Python_Projects/blob/main/Sum_of_First_n_Natural_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a python program to print sum of first n natural numbers


input: n=5

output =  15( 1+2+3+4+5 )

In [4]:
#your code goes here
n=int(input())
sum=0
while(n>0):
  sum+=n
  n-=1
print(sum)

100
5050

In [7]:
#your code goes here
p=int(input())
print((p*(p+1))//2)

10
55

In [ ]:
#@title
# approach 1
n = int(input())
sum = 0
for i in range(1,n+1):
  sum+=1
print(sum)

In [ ]:
#@title
n = int(input())
print(n*(n+1)/2)